/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: white;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

/* Navigation Bar */

nav {
  background-color: #33333300;
  /* padding: 10px; */
  text-align: center;
  /* width: 800px; */
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: auto;
}

nav li {
  margin-right: 20px;
}

nav a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ccc;
}

/* Sections */

section {
  padding: 2em;
}

section h1 {
  margin-top: 0;
}

/* Home Section */

#home {
  background-image: linear-gradient(to bottom, #333, #666);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/head.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
}

#home .overlay {
  margin-right: auto;
  margin-bottom: auto;
  font-size: 25px;
  width: auto;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 2em;
  text-align: center;

  box-shadow: -5px 10px 50px black;
  text-shadow: -5px 10px 50px black;
}

/* About Section */

#about {
  background-color: darkcyan;
}

/* Projects Section */

#projects {
  background-color: #f7f7f7;
  padding: 20px;
  text-align: center;
}

#projects h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

#projects ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#projects li {
  color: black;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projects h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#projects p {
  font-size: 18px;
  margin-bottom: 20px;
}

#projects a {
  text-decoration: none;
  color: #337ab7;
  font-size: 18px;
}

#projects a:hover {
  color: #23527c;
}

/* Contact Section */

#contact ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#contact li {
  margin-bottom: 10px;
}

#contact a {
  text-decoration: none;
  color: #337ab7;
}

#contact a:hover {
  color: #23527c;
}
